<a routerLink="CarInfo/{{engine.id}}">
    <div class="engine-card">
        <div class="vertical-bar-container">
            <div class="vertical-bar" [ngClass]="getVerticalBarColorClassByEndOfProduction(engine.endOfProduction)"></div>
        </div>
        <div class="details-container">
            <div class="title-container">
                <div class="span-data-container">
                    <span>{{engine.engineName}}</span>
                </div>
                
            </div>
            <div class="detail-row-container">

            </div>
            <div class="detail-row-container">
                <img class="ce-small-icon" src="../../../../../assets/ads/calendar-logo.svg" />
                <div class="span-data-container">
                    <span
                        [ngClass]="getProductionTextColorClassByEndOfProduction(engine.endOfProduction)">{{engine.startOfProduction}}
                        - {{engine.endOfProduction}}</span>
                </div>
                <div class="separator-container">
                    <span><b>|</b></span>
                </div>
                <img class="ce-small-icon" src="../../../../../assets/ads/transmission-logo.svg"/>
                <div class="span-data-container">
                    <span>{{engine.typeOfGearbox}}</span>
                </div>
            </div>
            <div class="detail-row-container">
                <div [ngSwitch]="engine.fuel">
                    <div *ngSwitchCase="Petrol">
                        <img class="ce-small-icon" src="../../../../../assets/ads/gas-station-logo.svg" />
                    </div>
                    <div *ngSwitchCase="Diesel">
                        <img class="ce-small-icon" src="../../../../../assets/ads/gas-station-logo.svg" />
                    </div>
                    <div *ngSwitchCase="Electricity">
                        <img class="ce-small-icon" src="../../../../../assets/ads/lightning-logo.svg" />
                    </div>
                    <div *ngSwitchCase="Hybrid">
                        <img class="ce-small-icon" src="../../../../../assets/ads/hybrid-logo.svg" />
                    </div>
                    <div *ngSwitchCase="Hydrogen">
                        <img class="ce-small-icon" src="../../../../../assets/ads/hydrogen-logo.svg" />
                    </div>
                    <div *ngSwitchDefault>
                        <img class="ce-small-icon" src="../../../../../assets/ads/gas-station-logo.svg">
                    </div>
                </div>
                <div class="span-data-container">
                    <span>{{engine.fuelType}}</span>
                </div>
                <div class="separator-container">
                    <span><b>|</b></span>
                </div>
                <img class="ce-small-icon" src="../../../../../assets/ads/fuel-economy-logo.svg" />
                <span>{{engine.fuelEconomyCombined}}</span>
            </div>
            <div class="detail-row-container">
                <img class="ce-small-icon" src="../../../../../assets/ads/horsepower-logo.svg" />
                <div class="span-data-container">
                    <!-- ngIf -->
                    <span>{{engine.power}} HP</span>
                </div>
                <div class="separator-container">
                    <span><b>|</b></span>
                </div>
                <img class="ce-small-icon" src="../../../../../assets/ads/max-speed-logo.svg"/>
                <div class="span-data-container">
                    <span>{{engine.maximumSpeed}} Km/h</span>
                </div>
            </div>
        </div>
    </div>
</a>