<div class="navbar-container">
    <div class="navbar-open-space-container">

    </div>
    <div class="navbar">
        <div class="navbar-branding">
            <div class="navbar-logo-container">
                <a routerLink="">
                    <img class="navbar-mhl-motors-logo" src="../../../assets/navbar/MHL-Motors-Logo.svg" />
                </a>
            </div>
        </div>
        <div class="navbar-navigation">
            <span>Ads</span>
            <span>Search</span>
            <span>Technical Data</span>
        </div>
        <div class="navbar-toolbox">
            <div class="tool-container">
                <img class="navbar-icon" src="../../../assets/navbar/messages-logo-white-mhl.svg" />
            </div>
            <div class="tool-container">
                <img class="navbar-icon" src="../../../assets/navbar/favorites-logo-white.svg" />
            </div>
            <div class="tool-container">
                <img class="navbar-icon" src="../../../assets/navbar/profile-logo-white.svg" />
            </div>
            <div class="button-container">
                <button class="post-an-ad-button">New ad</button>
            </div>
        </div>
    </div>
    <div class="navbar-open-space-container">

    </div>
</div>