<div class="navbar-container">
    <div class="navbar-branding">
        <div class="navbar-logo-container">
            <a routerLink="">
                <img class="navbar-mhl-logo" src="../../../assets/navbar/Logo.svg" />
            </a>
        </div>
    </div>
    <div class="navbar-toolbox">
        <div class="tile-container">
            <img class="navbar-icon" src="../../../assets/navbar/messages-logo-white-mhl.svg" />
            <span>Messages</span>
        </div>
        <div class="tile-container">
            <img class="navbar-icon" src="../../../assets/navbar/favorites-logo-white.svg" />
        </div>
        <div class="tile-container">
            <img class="navbar-icon" src="../../../assets/navbar/profile-logo-white.svg" />
            <span>Account</span>
        </div>
        <div class="tile-container">
            <button class="post-an-ad-button">New ad</button>
        </div>
        <div class="tile-container">
            <img class="navbar-icon" src="../../../assets/navbar/cart-logo-white.svg" />
        </div>
    </div>
</div>